@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "poppins";
  font-optical-sizing: auto;
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

#nav__bar {
  background-color: white;
}

h1 {
  margin: 60px 0px 0px 0px;
  text-align: center;
}

h2, .que-es-bs h2 {
  text-align: center;
  margin-bottom: 50px;
}

h5 {
  text-align: center;
  font-weight: 200;
}

h6 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 40px;
}

.parrafo__principal {
  margin: 0px 10% 0px 10%;
  text-align: center;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10% 0px 10%;
}

.imagen__flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.navbar__titulo {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 15px;
}
.navbar__titulo .nav-item { /*ITEMS DEL NAVEGADOR*/
  font-size: medium;
  font-weight: 200;
  gap: 20px;
  display: flex;
  align-items: center;
}
.navbar__titulo .nav-item:hover {
  font-weight: 400;
  display: flex;
}
.navbar__titulo .dropdown-menu { /*MENU DESPLEGABLE*/
  border-radius: 0;
  background-color: white;
  border: none;
}
.navbar__titulo .dropdown-item {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 200;
  gap: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.navbar__titulo .dropdown-item:hover {
  font-weight: 400;
  background: none;
}

.form-control { /* CAMPO DE BÚSQUEDA */
  border: none;
  border-radius: 0;
  background-color: rgb(235, 235, 235);
  font-weight: 200;
}
.form-control .form-control:focus {
  border-radius: 0;
  box-shadow: 0 0 0 0;
  font-weight: 400;
  display: flex;
  transition: 0.2s;
}

.btn { /*BOTÓN DE BUSQUEDA*/
  border-radius: 0;
  border-color: black;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.btn-outline-success {
  border-radius: 0;
  border-color: black;
  text-decoration: none;
  color: white;
  background-color: black;
}

.btn-outline-success:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.formulario__contactanos {
  margin: 70px 10% 50px 10%;
  text-align: center;
}
.formulario__contactanos .btn {
  border-radius: 0;
  border-color: black;
  text-decoration: none;
  color: white;
  background-color: black;
  margin: 0px;
  margin-left: 10px;
}
.formulario__contactanos .btn-primary:hover {
  background-color: white;
  color: black;
  border-color: black;
}

/*FOOTER*/
footer {
  background-color: #EA5C24;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 30px;
  text-align: center;
}

.footer__ul {
  font-size: small;
  text-decoration: none;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  color: black;
  gap: 15px; /*SEPARACION ENTRE ELEMENTOS DEL MENU*/
}

.footer__ul__li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: flex;
  transition: 0.5s;
  align-items: center;
}

.footer__ul__li a:hover {
  font-weight: 500;
  transition: 0.5s;
}

.footer__ul__p {
  font-size: small;
  font-weight: light;
}

.h6 {
  text-align: center;
  font-weight: 200;
}

.banner-principal {
  width: 100%;
  height: auto;
}

.banner__imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.imagen__banner {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.imagen-table, .section-marcas table img, .section-productos table img {
  width: 100%;
  height: auto;
}

.titulos-de-tabla, .que-es-bs table th, .section-marcas table th, .section-productos table th {
  text-align: center;
  font-weight: 600;
}

.textos-de-tabla, .que-es-bs table td, .section-marcas table tr td, .section-productos table td {
  text-align: center;
  font-size: small;
  padding: 10px;
}

.section-productos table {
  width: 100%;
  table-layout: fixed;
  margin-top: 30px 20px 0px 20px;
  text-align: center;
}
.section-marcas table {
  width: 100%;
  table-layout: fixed;
}
.section-marcas h6 {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
}
.que-es-bs {
  background-color: #EA5C24;
  padding-top: 70px;
  padding-bottom: 70px;
}
.experiencias {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 30px;
}

.experiencias h2 {
  text-align: center;
  margin-bottom: 50px;
}

.experiencias table th {
  text-align: center;
}

.experiencias table td {
  text-align: center;
  font-size: small;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */