.h6 {
    text-align: center;
    font-weight: 200;
}
.banner-principal{
    width: 100%;
    height: auto;
}
.banner__imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.imagen__banner{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.imagen-table{
    width: 100%;
    height: auto;
}
.titulos-de-tabla{
    text-align: center;
    font-weight: 600;
}
.textos-de-tabla{
    text-align: center;
    font-size: small;
    padding: 10px;
}
.section-productos{ 
    table{
        width: 100%;
        table-layout: fixed;
        margin-top: 30px 20px 0px 20px; 
        text-align: center; 
    }
    table img{
    @extend .imagen-table;
    }
    table th{
    @extend .titulos-de-tabla;
    }
    table td{
        @extend .textos-de-tabla;
    }
}

.section-marcas{
        table{
            width: 100%;
            table-layout: fixed; 
        }
        h6 {
            text-align: center;
            font-size: 0.875rem; //
            font-weight: 300; // 
        }
        table img{
        @extend .imagen-table;
        }
        table th{
        @extend .titulos-de-tabla;
        }
        table tr td{
        @extend .textos-de-tabla
        }
}

.que-es-bs{
    background-color: #EA5C24;
    padding-top: 70px;
    padding-bottom: 70px;
    h2{
    @extend h2;
    }
    table th{
    @extend .titulos-de-tabla;
    }
    table td{
    @extend .textos-de-tabla;
    }
}

.experiencias {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 30px;
  }
  .experiencias h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .experiencias table th {
    text-align: center;
  }
  .experiencias table td {
    text-align: center;
    font-size: small;
    padding: 10px;
  }
